body {
  margin: 0 auto;
}

nav {
  background-color: white;
  display: flex;
  padding: 10px 10px 10px 20px;
}
nav h1 {
  margin: 0px;
  color: #3d80fb;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
#navLinks {
  list-style-type: none;
  display:flex;
  padding: 0px;
}

#navLinks a{
   color: #5C5C5C;
   font-family: 'Prompt', sans-serif;
   font-size: 15px;
   margin-left: 20px;
   cursor: pointer;
}

#navLinks a:hover {
  color: #3D80FB;
}

#bioPage {
  text-align: center;
  max-width: 12500px;
  justify-content: center;
  margin: 0 auto;
  background-color: #3d80fb;
  margin-bottom: 50px;
  padding-top: 30px;
}


#bioPage > h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 80px;
  color: white;
  margin: 0px;
}
.secondContainer {
  max-width: 950px;
  background-color: white;
  height: 200px;
  margin: 0 auto;
  display: flex;
  background-color: #3d80fb;
  justify-content: center;
}
.textContainer {
  width: 450px;
  height: 195px;
  padding:15px 0px 0px 0px;
}
.textContent h3 {
  color:  white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 65px 25px 5px 25px;
}
.textContent p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 5px 25px 10px 25px;
  color:  white;
 }
 
 .textContent {
  border-right: 1px solid white;
 }

#tBorder {
  border-left: 1px solid white;
}
#projectsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.projectsH1 {
  text-align: center;
  font-family: 'Pattaya', sans-serif;
  font-size: 60px;
  color: #3d80fb;
  margin-bottom: 20px;
}
.projectDiv {
  position: relative;
 }

.projectDiv:hover .descriptionP {
   display: block;
 }

.projectDiv:hover .projectH3 {
  display: block;
}
.projectDiv:hover .screenshotImg {
  opacity: .52;
}
.screenshotImg {
  width: 500px;
  border: 3px solid #3D80FB;
  margin: 5px;
  border-radius: 5px;
}

.projectH3 {
  display: none;
  background-color: #3D80FB;opacity: 0.96;
  border: 1px solid white;
  padding: 4px 8px;
  color: white;
  position: absolute;
  top: 1%;
  left: 3%;
  font-family: 'Prompt', sans-serif;
  font-weight: bolder;
}

.descriptionP {
  display: none;
  position: absolute;
  border: 1px solid white;
  color: white;
  background-color: #3D80FB;opacity: 0.96;
  padding: 4px 8px;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  top: 57%;
  left: 43%;
  max-width: 260px;
}

.descriptionP a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.descriptionP a:hover {
  opacity: .8;
}

#technologiesPage {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 12500px;
  justify-content: center;
  margin: 0 auto;
  background-color: #3d80fb;
  margin-bottom: 50px;
}


#technologiesPage > h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 60px;
  color: white;
}
