body {
  background-color: #C4C2CC;
  margin: 0 auto;
}

nav {
  background-color: white;
  display: flex;
  padding: 10px 10px 10px 20px;
}
nav h1 {
  margin: 0px;
  color: #3d80fb;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
#navLinks {
  list-style-type: none;
  display:flex;
  padding: 0px;
}

#navLinks a{
   color: #5C5C5C;
   font-family: 'Prompt', sans-serif;
   font-size: 15px;
   margin-left: 20px;
   cursor: pointer;
}

a:hover {
  opacity: .8;
}

#bioPage {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 12500px;
  justify-content: center;
  margin: 0 auto;
  background-color: #3d80fb;
  margin-bottom: 50px;
}


#bioPage > h1 {
  font-family: 'Pattaya', sans-serif;
  font-size: 80px;
  color: white;
}
#projectsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

#projectsPage > div {
  position: relative;
 
}

.screenshotImg {
  width: 500px;
  border: 3px solid white;
  margin: 5px;
  opacity: 0.62;
}

.projectH3 {
  background-color: #3D80FB;opacity: 0.8;
  padding: 4px 8px;
  color: white;
  position: absolute;
  top: 1%;
  left: 3%;
  font-family: 'Prompt', sans-serif;
  font-weight: bolder;
}

.descriptionP {
  position: absolute;
  color: white;
  background-color: #3D80FB;opacity: 0.88;
  padding: 4px 8px;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  top: 57%;
  left: 43%;
  max-width: 260px;
}
