// @import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  margin: 0 auto;
  background-color: #3d80fb;
  justify-content: center;
}

nav {
  background-color: white;
  display: flex;
  padding: 10px 10px 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav h1 {
  margin: 0px;
  color: #3d80fb;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
#navLinks {
  list-style-type: none;
  display:flex;
  padding: 0px;
}

#navLinks a{
   color: #5C5C5C;
   font-family: 'Prompt', sans-serif;
   font-size: 15px;
   margin-left: 20px;
   cursor: pointer;
   text-decoration: none;
}

#navLinks a:hover {
  color: #3D80FB;
}

.footer {
  margin: 0 auto;
  color: white;
  font-family: 'Prompt', sans-serif;
  max-width: 900px;
  border-top: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .textContentTypingSmall {
    width: 300px;
  }
  .textContentTyping {
    display: none;
  }

  .textContent {
    width: 300px;
  }
  .textContentTypingSmall {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-bottom: 10px;
    color: white;
   }
  
  .const {
   color: yellow;
  }
  
  .nameText {
   color: orange;
  }
  
  .equal {
   color: #8AEE9B;
  }
  
  .bracket {
   color: #FAA8D1;
   font-size: 18px;
  }
  .textContentTypingSmall p {
   font-family: 'Inconsolata', monospace;
   margin: 0;
   white-space: nowrap;
   overflow: hidden;
   font-size: 11px;
  }
  .textContentTypingSmall p:nth-child(1) {
   width: 300px;
   -webkit-animation: type 5s steps(53, end);
   animation: type 5s steps(53, end);
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
  }
  
  .textContentTypingSmall p:nth-child(2) {
   margin-top: 0px;
   width: 225px;
   opacity: 0;
   -webkit-animation: type2 3s steps(40, end);
   animation: type2 3s steps(40, end);
   -webkit-animation-delay: 5s;
   animation-delay: 5s;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
  }

  .screenshotImg {
    width:350px;
  }
}
